
.add_review_form.ui{
  padding: 2% 2% 2% 2%;
  margin: 2% 10% 10% 10%;
}

.location_field{
  width: 100% !important;
}

.ui.fluid.button.add_review_btn_left{
  width: 50% !important;
  text-align: center !important;
  margin: 10% 0 0 40%;
}
.ui.fluid.button.add_review_btn_right{
  width: 50% !important;
  margin: 10% 50% 0 0;
}
.ui.fluid.button.add_review_btn{
  width: 80% !important;
  margin: 10% 10% 0 10%;
}