.edit_profile_form.ui{
  padding: 2% 2% 2% 2%;
  margin: 2% 8% 8% 8%;
}

.viewProfile_form.ui{
  padding: 2%;
  margin: 8% 30% 8% 30%;
}

.location_field{
  width: 100% !important;
}

.profile_picture{
  padding: 2%;
}

.show_profile.ui {
  margin: 6px 2px 6px 2px;
  text-align: left;
}

.show_profile.ui.float_left {
  float: left;
}

.ui.fluid.button.left_profile_btn {
  height: 20%;
  width: 50% !important;
  margin: 10% 0 0 50%;
}

.ui.fluid.button.right_profile_btn {
  height: 20%;
  width: 50% !important;
  margin: 10% 50% 0 0;
}

.ui.fluid.button.profile_btn {
  width: 30% !important;
  margin: 0 0 0 70%;
}