.show_restaurant.ui {
  margin: 6px 2px 6px 2px;
  text-align: left;
}
.show_restaurant.ui.float_left {
  float: left;
}

.restaurant_show_reviews.ui{
  height: 60%;
  width: 50%;
  margin: 20px 0 0 130px;
}

.no_reviews.ui {
  margin-left: 150px;
  margin-right: 20px;
  padding-top: 20px;
  font-weight: normal
}

.restaurant_item
{
  margin-top: 20px;
}
