.reviewform-root {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.p-float-label {
  font-size: 20px;
}

.form-text {
  font-size: 14px;
}

.form-input {
  height: 10px;
}

.logIn-form span{
  marginTop: '30px';
  paddingLeft: '.5em';
}

body .p-button {
  float: left;
}