.show_user.ui {
  margin: 6px 2px 6px 2px;
  text-align: left;
}

.user_item
{
  padding-right: 2%;
  margin: 1%;
}

.users_show_reviews.ui{
    height: 60%;
    width: 30%;
    margin: 10px 0 0 130px;
}

.no_reviews.ui{
  margin-left: 150px;
  margin-right: 20px;
  padding-top: 10px;
  font-weight:normal
}

.ui.centered.grid.user_search{
  background-color: rgba(255, 255, 255, 0.7) !important;
  margin: 1% !important;
  height: 10%;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.search-label{
  font-size: 16px;
  font-weight: 600;
  margin-top: 4px;
}

.search{
  margin-left: 1%;
}

.row-margin{
  margin-top: 3px;
  margin-bottom: 10px;
}

.header-button{
  width: 15em;
  margin-right: 3px;
  margin-left: 3px;
}