.show_user.ui {
  margin: 6px 2px 6px 2px;
  text-align: left;
}

.user_item
{
  padding-right: 2%;
  margin: 1%;
}

.users_show_reviews.ui{
    height: 60%;
    width: 50%;
    margin: 10px 0 0 130px;
}

.no_reviews.ui{
  margin-left: 150px;
  margin-right: 20px;
  padding-top: 10px;
  font-weight:normal
}
